
<body background="assets/image/background.jpg">
<div class="header">
  <h1>Your score: {{globals.score}}</h1>
  <h1 *ngIf="rankIsShown">Your rank: {{userRank}}</h1>
</div>
<div *ngIf="submitIsShown">
  <input matInput maxlength="12" placeholder="Enter your name" [(ngModel)]="globals.name"><a (click)="submitUserHighscore()" mat-raised-button color="accent">Submit</a>
</div>

<div>
  <a mat-raised-button color="accent" routerLink="/game" (click)=resetValues() routerLinkActive="">Play again!</a>
</div>


<div class="example-container">
  <table mat-table [dataSource]="topHighscores" class="mat-elevation-z8">
    <!-- Name Rank -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
    </ng-container>


    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</body>

