<body>

  <div class="header">
    <div class="image">
      <img *ngIf="isRight" mat-card-image src="assets/image/right.png">

      <img *ngIf="isWrong" mat-card-image src="assets/image/wrong.png">
    </div>

    <div class="imageLeft"
      [ngStyle]="{'background-image': 'url(' + leftProd.galleryURL + ')', 'filter': 'brightness(0.5'}"></div>
    <div class="productLeft">
      <h1> {{leftProd.title}}</h1>
      <span class="price"> {{"$" + leftProd.price}} </span>
    </div>


    <div class="imageRight"
      [ngStyle]="{'background-image': 'url(' + rightProd.galleryURL + ')', 'filter': 'brightness(0.5)'}"></div>
    <div class="productRight">
      <h1> {{rightProd.title}}</h1>
      <a [disabled]="isRight || isWrong" *ngIf="rightProd" mat-raised-button color="right"
        (click)="guessPrice(true)">Higher</a>
      <a [disabled]="isRight || isWrong" *ngIf="rightProd" mat-raised-button color="wrong"
        (click)="guessPrice(false)">Lower</a>


    </div>
    <span class="score">Score: {{currentScore}}</span>



  </div>
</body>
