.header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body, html {
  height: 1000px;
}

.productLeft{
  position: absolute;
  top: 60%;
  left: 50px;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
}

.productRight{
  position: absolute;
  right: 0px;
  top: 60%;
  margin-top: -100px;

}
.imageRight{

  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-style: groove;
  border-color: black;
}

.imageLeft{
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-style: groove;
  border-color: black;
}


.mat-raised-button{
  cursor: pointer;
  margin: 0 0.5rem;
  width: 150px;
  z-index: 100;
}

.score{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 30px;
  color: white;
}

.price{
  font-size: 40px;
  font-weight: 500;
  color: chartreuse;
  z-index: 9;
}

h1{
  color: white;
  max-width: 800px;
  text-align: center;
  font-weight: 500;
}

.mat-right{
  color: white;
  background-color: green;
}

.mat-wrong{
  color: white;
  background-color: red;
}

.image{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
 
}

.image img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 10%;
  
}



