<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="header">
  <img [hidden]="globals.isDisplay" mat-card-image src="assets/image/Demo_Higher-Lower.png">
  <nav>
    <span [hidden]="globals.isDisplay" class="game_explanation">A frustratingly addictive game of higher or lower using eBay product searches.</span>
    <div [hidden]="globals.isDisplay">
      <a mat-raised-button color="accent" (click)="disableMenu()" routerLink="/game" routerLinkActive="">Play</a>
      <a mat-raised-button color="accent" (click)="disableMenu()" routerLink="/scoreboard">Scoreboard</a>
    </div>
  </nav>
</div>

<main [@routAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
