@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.spinner{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}

.header{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


.mat-raised-button{
    cursor: pointer;
  position: relative;
  margin: 0 0.5rem;
  width: 150px;
  margin-top: 25px;
}

.game_explanation {
    grid-area: greeting;
    font-size: 1.25rem;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
  }


main{
    text-align: center;
    position: relative;
}
